.App {
  text-align: center;
  background-color: #D2BBA0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#calculator-case {
  height: 500px;
  width: 400px;
  background-color: rgb(20, 20, 20);
}

#display {
  height: 100px;
  width: 370px;
  background-color: rgb(192, 197, 202);
  margin: auto;
  margin-top: 10px;
}