.App {
  text-align: center;
  background-color: #D2BBA0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#calculator-case {
  height: 525px;
  width: 350px;
  background-color: rgb(20, 20, 20);
}

#display {
  height: 100px;
  width: 328px;
  background-color: rgb(192, 197, 202);
  margin: auto;
  margin-top: 10px;
  color: black;
  text-align: right;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: auto;
  /* margin-left: -5px; */
}

.pads {
  height: 80px;
  width: 80px;
  background-color: white;
  margin: 1px;
  color: black;
  caret-color: transparent;
}

.pads:hover {
  cursor: pointer;
}

#zero {
  width: 161px;
  
}

#clear {
  width: 243px;
  background-color: rgb(185, 126, 36);
}

#add, #subtract, #multiply, #divide, #equals{
  color:rgb(192, 197, 202);
  background-color: rgb(31, 30, 30);
}